{% extends "base.html" %}

{% block nav %}
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/blog">Blog</a></li>
{% endblock %}

{% block main %}
    <div class="hero-unit">
        <h1>Yoga NOW Blog</h1>
    </div>
    <div class="row">
        {% for post in posts %}
            <div class="title">{{ post.title }}</div>
            <ul>
                <div class="time">{{ post.created }}</div>
                <div class="body">{{ post.body|linebreaks }}</div>
            </ul>
        {% endfor %}
    <div>
{% endblock %}
