<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Yoga NOW Boulder</title>

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">

    <!-- Styles -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* When using the navbar-top-fixed */
        }
    </style>
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <script src="{{STATIC_URL}}js/api_call.js"></script>
    <script src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                    <!-- <a class="btn btn-primary pull-right" href="http://twitter.github.com/bootstrap/">Twitter Bootstrap Home</a> -->
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="hero-unit">
            <h1>Yoga NOW Boulder</h1>
        </div>

        <div class="row">
            <div class="span6">
                <script type="text/javascript">
                    // var studios = ['yogapod', 'yogaworkshop'];
                    var studios = ['test'];
                    $.each(studios, function(i, studio) {
                        api_call(studio);
                    });
                </script>
                <div id="listing">
                    <h3>Classes Happening NOW</h3>
                    <div id="loading" style="text-align: center">
                        <img id="spinner" src="{{STATIC_URL}}img/ajax-loader.gif" text="Please wait">
                    </div>
                    <table id="class_table" class="table table-striped">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                    <div id="load-text">
                    </div>
                </div>
            </div>
            <div class="span6">
                <h3>About</h3>
                <p>Yoga NOW Boulder aims to display all the yoga classes
                   happening in Boulder within the next few hours. This spares
                   one the trouble of having to search through many studio sites
                   just to find an interesting class. As of now, only
                   Yoga Pod and Yoga Workshop are supported, but there are plans
                   to support more and more as time goes on.</p>
                <br>
                <p>Want your studio to be included on Yoga NOW Boulder? Email
                   aaron@yoganowboulder.com.</p>
            </div>
        </div>
    </div>
</body>
</html>